In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
%matplotlib inline

In [3]:
cd ..\experiments\data\human\0.991

C:\Users\piichan\Documents\Berkeley\CoCoSci Lab\mcrl\mcrl\experiments\data\human\0.991

In [22]:
df=pd.read_csv('trials.csv', sep=',',header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,pid,info_cost,PR_type,message,trial_index,trial_i,delays,score,n_click,clicks,click_times,path,action_times
1,0,0,1.0,none,none,1,NaN,[3],12.0,16,"[5, 6, 7, 8, 9, 10, 12, 11, 1, 2, 3, 4, 13, 14...","[2692, 3813, 4808, 7601, 13713, 15045, 15845, ...","[1, 5, 6, 7]","[71892, 77817, 81863]"
2,1,0,1.0,none,none,2,NaN,[3],26.0,2,"[5, 9]","[3801, 5825]","[1, 9, 10, 12]","[7534, 21008, 22827]"
3,2,0,1.0,none,none,3,NaN,[3],26.0,2,"[5, 6]","[2081, 3815]","[1, 5, 6, 8]","[5649, 14086, 16738]"
4,3,0,1.0,none,none,4,NaN,[3],-8.0,4,"[5, 13, 9, 1]","[1609, 2946, 4339, 5745]","[1, 5, 6, 7]","[8788, 15820, 17077]"
5,4,0,1.0,none,none,5,NaN,[3],19.0,1,[5],[3112],"[1, 5, 6, 7]","[5477, 9516, 14710]"
6,5,0,1.0,none,none,6,NaN,[3],4.0,0,[],[],"[1, 5, 6, 8]","[3077, 7200, 10754]"
7,6,0,1.0,none,none,7,NaN,[3],28.0,0,[],[],"[1, 9, 10, 12]","[2198, 6520, 8274]"
8,7,0,1.0,none,none,8,NaN,[3],-4.0,0,[],[],"[1, 1, 2, 4]","[3118, 6943, 8352]"
9,8,0,1.0,none,none,9,NaN,[3],4.0,0,[],[],"[1, 5, 6, 7]","[2954, 6727, 8846]"
10,9,0,1.0,none,none,10,NaN,[3],-8.0,4,"[5, 9, 13, 1]","[7675, 8558, 9695, 10726]","[1, 9, 10, 12]","[12048, 25717, 27326]"
11,10,0,1.0,none,none,11,NaN,[],11.0,9,"[9, 10, 12, 11, 13, 5, 6, 14, 2]","[4161, 5847, 6725, 7624, 9149, 10183, 11338, 1...","[1, 1, 2, 3]","[15977, 16992, 17881]"
12,11,0,1.0,none,none,12,NaN,[],11.0,1,[9],[2442],"[1, 9, 10, 12]","[3828, 8826, 10006]"
13,12,0,1.0,none,none,13,NaN,[],-44.0,0,[],[],"[1, 5, 6, 7]","[1411, 2960, 4159]"
14,13,0,1.0,none,none,14,NaN,[],4.0,0,[],[],"[1, 9, 10, 12]","[2085, 4279, 5691]"
15,14,0,1.0,none,none,15,NaN,[],35.0,1,[12],[2361],"[1, 9, 10, 12]","[5478, 10990, 12063]"
16,15,0,1.0,none,none,16,NaN,[],2.0,2,"[7, 8]","[2091, 4038]","[1, 5, 6, 8]","[5700, 12812, 13802]"
17,16,1,0.25,none,none,1,NaN,[None],-12.0,0,[],[],"[1, 1, 2, 3]","[5201, 9632, 15394]"
18,17,1,0.25,none,none,2,NaN,[None],27.75,1,[9],[2341],"[1, 9, 10, 12]","[4048, 25349, 28004]"
19,18,1,0.25,none,none,3,NaN,[None],19.75,1,[1],[5583],"[1, 1, 2, 4]","[7592, 9750, 11712]"
20,19,1,0.25,none,none,4,NaN,[None],-5.0,4,"[5, 14, 10, 2]","[2547, 6400, 8835, 11486]","[1, 13, 14, 16]","[14408, 16307, 18605]"
21,20,1,0.25,none,none,5,NaN,[None],27.75,1,[5],[2270],"[1, 5, 6, 8]","[3511, 4924, 6106]"
22,21,1,0.25,none,none,6,NaN,[None],-20.5,2,"[9, 1]","[1793, 3594]","[1, 13, 14, 15]","[5812, 7466, 9151]"
23,22,1,0.25,none,none,7,NaN,[None],27.5,2,"[9, 1]","[1834, 4756]","[1, 9, 10, 12]","[6296, 7439, 8755]"
24,23,1,0.25,none,none,8,NaN,[None],27.75,1,[6],[3520],"[1, 5, 6, 7]","[4689, 6669, 7930]"
25,24,1,0.25,none,none,9,NaN,[None],-21.0,4,"[14, 6, 2, 10]","[842, 2724, 4003, 6189]","[1, 13, 14, 16]","[7633, 9181, 10044]"
26,25,1,0.25,none,none,10,NaN,[None],19.5,2,"[14, 1]","[2088, 3656]","[1, 1, 2, 3]","[4601, 6144, 7528]"
27,26,1,0.25,none,none,11,NaN,[],11.5,2,"[6, 14]","[3204, 5254]","[1, 13, 14, 15]","[6396, 8089, 9101]"
28,27,1,0.25,none,none,12,NaN,[],35.5,2,"[14, 2]","[3313, 4943]","[1, 9, 10, 12]","[6524, 9133, 10475]"
29,28,1,0.25,none,none,13,NaN,[],28.0,0,[],[],"[1, 13, 14, 16]","[2489, 3921, 5433]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,1547,104,4.0,none,none,3,NaN,[None],-4.0,0,[],[],"[1, 13, 14, 16]","[792, 4743, 6358]"
1508,1548,104,4.0,none,none,4,NaN,[None],-4.0,0,[],[],"[1, 5, 6, 7]","[691, 3545, 5363]"
1509,1549,104,4.0,none,none,5,NaN,[None],-36.0,0,[],[],"[1, 1, 2, 3]","[480, 2130, 3402]"
1510,1550,104,4.0,none,none,6,NaN,[None],-4.0,0,[],[],"[1, 13, 14, 15]","[1932, 2987, 3846]"
1511,1551,104,4.0,none,none,7,NaN,[None],28.0,0,[],[],"[1, 9, 10, 12]","[393, 2152, 3440]"
1512,1552,104,4.0,none,none,8,NaN,[None],-28.0,0,[],[],"[1, 5, 6, 7]","[1435, 2428, 3667]"
1513,1553,104,4.0,none,none,9,NaN,[None],12.0,0,[],[],"[1, 9, 10, 12]","[2195, 3451, 4593]"
1514,1554,104,4.0,none,none,10,NaN,[None],28.0,0,[],[],"[1, 13, 14, 16]","[405, 1307, 2738]"
1515,1555,104,4.0,none,none,11,NaN,[],-12.0,0,[],[],"[1, 1, 2, 3]","[3470, 4550, 5640]"
1516,1556,104,4.0,none,none,12,NaN,[],-28.0,0,[],[],"[1, 5, 6, 8]","[1206, 2203, 3175]"
1517,1557,104,4.0,none,none,13,NaN,[],-12.0,0,[],[],"[1, 1, 2, 4]","[397, 1365, 2791]"
1518,1558,104,4.0,none,none,14,NaN,[],-20.0,0,[],[],"[1, 13, 14, 15]","[2471, 3488, 4448]"
1519,1559,104,4.0,none,none,15,NaN,[],-4.0,0,[],[],"[1, 13, 14, 16]","[820, 2752, 4020]"
1520,1560,104,4.0,none,none,16,NaN,[],-4.0,0,[],[],"[1, 9, 10, 11]","[485, 1573, 2632]"
1521,1561,105,1.0,none,none,1,NaN,[3],-20.0,16,"[9, 10, 5, 1, 13, 2, 6, 7, 8, 15, 14, 16, 4, 3...","[3549, 5619, 7887, 9060, 9904, 12679, 15395, 1...","[1, 9, 10, 12]","[25433, 30212, 31709]"
1522,1562,105,1.0,none,none,2,NaN,[3],18.0,2,"[9, 5]","[2810, 4446]","[1, 5, 6, 7]","[6885, 24132, 27015]"
1523,1563,105,1.0,none,none,3,NaN,[3],-7.0,3,"[5, 6, 7]","[3952, 6322, 7197]","[1, 5, 6, 7]","[9593, 13646, 15035]"
1524,1564,105,1.0,none,none,4,NaN,[3],37.0,7,"[9, 1, 5, 13, 2, 3, 4]","[980, 2114, 3200, 4045, 4944, 5694, 6522]","[1, 1, 2, 4]","[8231, 12366, 15485]"
1525,1565,105,1.0,none,none,5,NaN,[3],19.0,9,"[9, 10, 12, 5, 1, 13, 2, 3, 4]","[817, 2309, 3051, 5897, 7072, 8392, 9425, 1005...","[1, 9, 10, 12]","[11745, 15968, 20317]"
1526,1566,105,1.0,none,none,6,NaN,[3],26.0,10,"[9, 10, 12, 11, 13, 1, 5, 6, 7, 8]","[1604, 4112, 4910, 5958, 7381, 8146, 8818, 947...","[1, 5, 6, 8]","[12733, 16748, 18344]"
1527,1567,105,1.0,none,none,7,NaN,[3],18.0,10,"[5, 9, 13, 1, 6, 7, 14, 16, 15, 8]","[1131, 2358, 3197, 3887, 5020, 5912, 7385, 804...","[1, 5, 6, 7]","[12861, 16860, 18952]"
1528,1568,105,1.0,none,none,8,NaN,[3],18.0,10,"[9, 5, 1, 13, 2, 3, 4, 14, 16, 15]","[702, 1327, 1967, 2530, 3545, 4139, 4916, 5757...","[1, 13, 14, 16]","[8942, 12876, 14366]"
1529,1569,105,1.0,none,none,9,NaN,[3],-9.0,5,"[9, 13, 1, 5, 10]","[894, 1613, 2175, 2683, 4137]","[1, 9, 10, 11]","[6679, 10725, 12160]"
1530,1570,105,1.0,none,none,10,NaN,[3],15.0,5,"[9, 5, 10, 12, 11]","[762, 1395, 2989, 3559, 4309]","[1, 9, 10, 11]","[6910, 10837, 12000]"
1531,1571,105,1.0,none,none,11,NaN,[],32.0,4,"[5, 9, 10, 12]","[5596, 6190, 7370, 7956]","[1, 9, 10, 12]","[9675, 11062, 12144]"
1532,1572,105,1.0,none,none,12,NaN,[],35.0,1,[9],[727],"[1, 9, 10, 11]","[3258, 5308, 6911]"
1533,1573,105,1.0,none,none,13,NaN,[],17.0,3,"[9, 1, 5]","[742, 1506, 2492]","[1, 1, 2, 3]","[3893, 5225, 6995]"
1534,1574,105,1.0,none,none,14,NaN,[],0.0,4,"[9, 5, 1, 13]","[1011, 1903, 2615, 3115]","[1, 5, 6, 8]","[4548, 5600, 7084]"
1535,1575,105,1.0,none,none,15,NaN,[],-8.0,4,"[9, 5, 1, 13]","[796, 1368, 1984, 2476]","[1, 9, 10, 12]","[5076, 6092, 7119]"
1536,1576,105,1.0,none,none,16,NaN,[],0.0,4,"[9, 1, 5, 13]","[3032, 3678, 4436, 4990]","[1, 13, 14, 16]","[6144, 7108, 8009]"