In [118]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json
from agents import Agent
from mouselab import MouselabEnv
from distributions import Normal, Categorical
from policies import FixedPlanPolicy, LiederPolicy
from evaluation import *
from pprint import pprint
import ast

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [119]:
trials = pd.read_csv('../experiments/data/human/0.991/trials.csv')

In [120]:
trials

,Unnamed: 0,pid,info_cost,PR_type,message,trial_index,trial_i,delays,score,n_click,clicks,click_times,path,action_times
0,0,0,1.00,none,none,1,NaN,[3],12.00,16,"[5, 6, 7, 8, 9, 10, 12, 11, 1, 2, 3, 4, 13, 14...","[2692, 3813, 4808, 7601, 13713, 15045, 15845, ...","[1, 5, 6, 7]","[71892, 77817, 81863]"
1,1,0,1.00,none,none,2,NaN,[3],26.00,2,"[5, 9]","[3801, 5825]","[1, 9, 10, 12]","[7534, 21008, 22827]"
2,2,0,1.00,none,none,3,NaN,[3],26.00,2,"[5, 6]","[2081, 3815]","[1, 5, 6, 8]","[5649, 14086, 16738]"
3,3,0,1.00,none,none,4,NaN,[3],-8.00,4,"[5, 13, 9, 1]","[1609, 2946, 4339, 5745]","[1, 5, 6, 7]","[8788, 15820, 17077]"
4,4,0,1.00,none,none,5,NaN,[3],19.00,1,[5],[3112],"[1, 5, 6, 7]","[5477, 9516, 14710]"
5,5,0,1.00,none,none,6,NaN,[3],4.00,0,[],[],"[1, 5, 6, 8]","[3077, 7200, 10754]"
6,6,0,1.00,none,none,7,NaN,[3],28.00,0,[],[],"[1, 9, 10, 12]","[2198, 6520, 8274]"
7,7,0,1.00,none,none,8,NaN,[3],-4.00,0,[],[],"[1, 1, 2, 4]","[3118, 6943, 8352]"
8,8,0,1.00,none,none,9,NaN,[3],4.00,0,[],[],"[1, 5, 6, 7]","[2954, 6727, 8846]"
9,9,0,1.00,none,none,10,NaN,[3],-8.00,4,"[5, 9, 13, 1]","[7675, 8558, 9695, 10726]","[1, 9, 10, 12]","[12048, 25717, 27326]"
10,10,0,1.00,none,none,11,NaN,[],11.00,9,"[9, 10, 12, 11, 13, 5, 6, 14, 2]","[4161, 5847, 6725, 7624, 9149, 10183, 11338, 1...","[1, 1, 2, 3]","[15977, 16992, 17881]"
11,11,0,1.00,none,none,12,NaN,[],11.00,1,[9],[2442],"[1, 9, 10, 12]","[3828, 8826, 10006]"
12,12,0,1.00,none,none,13,NaN,[],-44.00,0,[],[],"[1, 5, 6, 7]","[1411, 2960, 4159]"
13,13,0,1.00,none,none,14,NaN,[],4.00,0,[],[],"[1, 9, 10, 12]","[2085, 4279, 5691]"
14,14,0,1.00,none,none,15,NaN,[],35.00,1,[12],[2361],"[1, 9, 10, 12]","[5478, 10990, 12063]"
15,15,0,1.00,none,none,16,NaN,[],2.00,2,"[7, 8]","[2091, 4038]","[1, 5, 6, 8]","[5700, 12812, 13802]"
16,16,1,0.25,none,none,1,NaN,[None],-12.00,0,[],[],"[1, 1, 2, 3]","[5201, 9632, 15394]"
17,17,1,0.25,none,none,2,NaN,[None],27.75,1,[9],[2341],"[1, 9, 10, 12]","[4048, 25349, 28004]"
18,18,1,0.25,none,none,3,NaN,[None],19.75,1,[1],[5583],"[1, 1, 2, 4]","[7592, 9750, 11712]"
19,19,1,0.25,none,none,4,NaN,[None],-5.00,4,"[5, 14, 10, 2]","[2547, 6400, 8835, 11486]","[1, 13, 14, 16]","[14408, 16307, 18605]"
20,20,1,0.25,none,none,5,NaN,[None],27.75,1,[5],[2270],"[1, 5, 6, 8]","[3511, 4924, 6106]"
21,21,1,0.25,none,none,6,NaN,[None],-20.50,2,"[9, 1]","[1793, 3594]","[1, 13, 14, 15]","[5812, 7466, 9151]"
22,22,1,0.25,none,none,7,NaN,[None],27.50,2,"[9, 1]","[1834, 4756]","[1, 9, 10, 12]","[6296, 7439, 8755]"
23,23,1,0.25,none,none,8,NaN,[None],27.75,1,[6],[3520],"[1, 5, 6, 7]","[4689, 6669, 7930]"
24,24,1,0.25,none,none,9,NaN,[None],-21.00,4,"[14, 6, 2, 10]","[842, 2724, 4003, 6189]","[1, 13, 14, 16]","[7633, 9181, 10044]"
25,25,1,0.25,none,none,10,NaN,[None],19.50,2,"[14, 1]","[2088, 3656]","[1, 1, 2, 3]","[4601, 6144, 7528]"
26,26,1,0.25,none,none,11,NaN,[],11.50,2,"[6, 14]","[3204, 5254]","[1, 13, 14, 15]","[6396, 8089, 9101]"
27,27,1,0.25,none,none,12,NaN,[],35.50,2,"[14, 2]","[3313, 4943]","[1, 9, 10, 12]","[6524, 9133, 10475]"
28,28,1,0.25,none,none,13,NaN,[],28.00,0,[],[],"[1, 13, 14, 16]","[2489, 3921, 5433]"
29,29,1,0.25,none,none,14,NaN,[],11.75,1,[6],[2066],"[1, 13, 14, 15]","[4507, 6343, 7705]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506,1547,104,4.00,none,none,3,NaN,[None],-4.00,0,[],[],"[1, 13, 14, 16]","[792, 4743, 6358]"
1507,1548,104,4.00,none,none,4,NaN,[None],-4.00,0,[],[],"[1, 5, 6, 7]","[691, 3545, 5363]"
1508,1549,104,4.00,none,none,5,NaN,[None],-36.00,0,[],[],"[1, 1, 2, 3]","[480, 2130, 3402]"
1509,1550,104,4.00,none,none,6,NaN,[None],-4.00,0,[],[],"[1, 13, 14, 15]","[1932, 2987, 3846]"
1510,1551,104,4.00,none,none,7,NaN,[None],28.00,0,[],[],"[1, 9, 10, 12]","[393, 2152, 3440]"
1511,1552,104,4.00,none,none,8,NaN,[None],-28.00,0,[],[],"[1, 5, 6, 7]","[1435, 2428, 3667]"
1512,1553,104,4.00,none,none,9,NaN,[None],12.00,0,[],[],"[1, 9, 10, 12]","[2195, 3451, 4593]"
1513,1554,104,4.00,none,none,10,NaN,[None],28.00,0,[],[],"[1, 13, 14, 16]","[405, 1307, 2738]"
1514,1555,104,4.00,none,none,11,NaN,[],-12.00,0,[],[],"[1, 1, 2, 3]","[3470, 4550, 5640]"
1515,1556,104,4.00,none,none,12,NaN,[],-28.00,0,[],[],"[1, 5, 6, 8]","[1206, 2203, 3175]"
1516,1557,104,4.00,none,none,13,NaN,[],-12.00,0,[],[],"[1, 1, 2, 4]","[397, 1365, 2791]"
1517,1558,104,4.00,none,none,14,NaN,[],-20.00,0,[],[],"[1, 13, 14, 15]","[2471, 3488, 4448]"
1518,1559,104,4.00,none,none,15,NaN,[],-4.00,0,[],[],"[1, 13, 14, 16]","[820, 2752, 4020]"
1519,1560,104,4.00,none,none,16,NaN,[],-4.00,0,[],[],"[1, 9, 10, 11]","[485, 1573, 2632]"
1520,1561,105,1.00,none,none,1,NaN,[3],-20.00,16,"[9, 10, 5, 1, 13, 2, 6, 7, 8, 15, 14, 16, 4, 3...","[3549, 5619, 7887, 9060, 9904, 12679, 15395, 1...","[1, 9, 10, 12]","[25433, 30212, 31709]"
1521,1562,105,1.00,none,none,2,NaN,[3],18.00,2,"[9, 5]","[2810, 4446]","[1, 5, 6, 7]","[6885, 24132, 27015]"
1522,1563,105,1.00,none,none,3,NaN,[3],-7.00,3,"[5, 6, 7]","[3952, 6322, 7197]","[1, 5, 6, 7]","[9593, 13646, 15035]"
1523,1564,105,1.00,none,none,4,NaN,[3],37.00,7,"[9, 1, 5, 13, 2, 3, 4]","[980, 2114, 3200, 4045, 4944, 5694, 6522]","[1, 1, 2, 4]","[8231, 12366, 15485]"
1524,1565,105,1.00,none,none,5,NaN,[3],19.00,9,"[9, 10, 12, 5, 1, 13, 2, 3, 4]","[817, 2309, 3051, 5897, 7072, 8392, 9425, 1005...","[1, 9, 10, 12]","[11745, 15968, 20317]"
1525,1566,105,1.00,none,none,6,NaN,[3],26.00,10,"[9, 10, 12, 11, 13, 1, 5, 6, 7, 8]","[1604, 4112, 4910, 5958, 7381, 8146, 8818, 947...","[1, 5, 6, 8]","[12733, 16748, 18344]"
1526,1567,105,1.00,none,none,7,NaN,[3],18.00,10,"[5, 9, 13, 1, 6, 7, 14, 16, 15, 8]","[1131, 2358, 3197, 3887, 5020, 5912, 7385, 804...","[1, 5, 6, 7]","[12861, 16860, 18952]"
1527,1568,105,1.00,none,none,8,NaN,[3],18.00,10,"[9, 5, 1, 13, 2, 3, 4, 14, 16, 15]","[702, 1327, 1967, 2530, 3545, 4139, 4916, 5757...","[1, 13, 14, 16]","[8942, 12876, 14366]"
1528,1569,105,1.00,none,none,9,NaN,[3],-9.00,5,"[9, 13, 1, 5, 10]","[894, 1613, 2175, 2683, 4137]","[1, 9, 10, 11]","[6679, 10725, 12160]"
1529,1570,105,1.00,none,none,10,NaN,[3],15.00,5,"[9, 5, 10, 12, 11]","[762, 1395, 2989, 3559, 4309]","[1, 9, 10, 11]","[6910, 10837, 12000]"
1530,1571,105,1.00,none,none,11,NaN,[],32.00,4,"[5, 9, 10, 12]","[5596, 6190, 7370, 7956]","[1, 9, 10, 12]","[9675, 11062, 12144]"
1531,1572,105,1.00,none,none,12,NaN,[],35.00,1,[9],[727],"[1, 9, 10, 11]","[3258, 5308, 6911]"
1532,1573,105,1.00,none,none,13,NaN,[],17.00,3,"[9, 1, 5]","[742, 1506, 2492]","[1, 1, 2, 3]","[3893, 5225, 6995]"
1533,1574,105,1.00,none,none,14,NaN,[],0.00,4,"[9, 5, 1, 13]","[1011, 1903, 2615, 3115]","[1, 5, 6, 8]","[4548, 5600, 7084]"
1534,1575,105,1.00,none,none,15,NaN,[],-8.00,4,"[9, 5, 1, 13]","[796, 1368, 1984, 2476]","[1, 9, 10, 12]","[5076, 6092, 7119]"
1535,1576,105,1.00,none,none,16,NaN,[],0.00,4,"[9, 1, 5, 13]","[3032, 3678, 4436, 4990]","[1, 13, 14, 16]","[6144, 7108, 8009]"

In [121]:
def make_env(depth, reward, cost, ground_truth=False):
    """Returns a MouselabEnv with given depth and cost. 
    If `ground_truth` is True, the reward observed at a given node will be
    constant across runs on this env. This reduces variance of the return."""
    env = MouselabEnv(depth, reward=reward, cost=cost)
    if ground_truth:
        env.ground_truth = np.array([0, *reward.sample(len(env.tree) - 1)])
    return env

def make_envs(depth, reward, cost, n=100, ground_truth=None):
    # Note, ground_truth can be an int in which case it acts as a random seed.
    if ground_truth is not None:
        np.random.seed(ground_truth)
        return [make_env(depth, reward, cost, True) for _ in range(n)]
    else:
        return [make_env(depth, reward, cost, False)] * n

In [124]:
with open('../experiments/exp1/static/json/q_weights.json') as data_file:    
    q_weights = json.load(data_file)
pprint(q_weights)

{'0.25': [2.257763937377627,
          0.10443792456696127,
          0.05249963763298343,
          0.8577953703345867,
          0.9978041373296709],
 '1.00': [2.978177180936807,
          0.3624859344787723,
          0.19189036343344185,
          0.5238392058288387,
          1.000876097233912],
 '4.00': [0.9827822354989232,
          1.005266776096542,
          -0.0016595283956967466,
          -0.0027069522504898046,
          1.0003765120051233]}

In [126]:
trials['pr_sum'] = np.zeros(trials.shape[0])

In [133]:
dist = Normal(0,10)
reward = dist.to_discrete(6)
costs = [0.25,1.00,4.00]
stimuli_envs ={str(cost):make_envs([4,1,2], reward, cost, n=16, ground_truth=1) for cost in costs}
stimuli_envs

{'0.25': [<mouselab.MouselabEnv at 0x1256715c0>,
  <mouselab.MouselabEnv at 0x126bb62e8>,
  <mouselab.MouselabEnv at 0x126bca9e8>,
  <mouselab.MouselabEnv at 0x12568e860>,
  <mouselab.MouselabEnv at 0x1256717b8>,
  <mouselab.MouselabEnv at 0x126b0c7b8>,
  <mouselab.MouselabEnv at 0x125693470>,
  <mouselab.MouselabEnv at 0x12569ba90>,
  <mouselab.MouselabEnv at 0x126b58ac8>,
  <mouselab.MouselabEnv at 0x126bde320>,
  <mouselab.MouselabEnv at 0x126bdeb38>,
  <mouselab.MouselabEnv at 0x126be75f8>,
  <mouselab.MouselabEnv at 0x1256a8e10>,
  <mouselab.MouselabEnv at 0x114770080>,
  <mouselab.MouselabEnv at 0x126b2be80>,
  <mouselab.MouselabEnv at 0x1256fd2b0>],
 '1.0': [<mouselab.MouselabEnv at 0x1256fd550>,
  <mouselab.MouselabEnv at 0x1256fd1d0>,
  <mouselab.MouselabEnv at 0x1256fd828>,
  <mouselab.MouselabEnv at 0x1256fd668>,
  <mouselab.MouselabEnv at 0x1256fd978>,
  <mouselab.MouselabEnv at 0x126c0c400>,
  <mouselab.MouselabEnv at 0x126c0c518>,
  <mouselab.MouselabEnv at 0x126c0cb70>,
  <mouselab.MouselabEnv at 0x126c0ccc0>,
  <mouselab.MouselabEnv at 0x126c0cf28>,
  <mouselab.MouselabEnv at 0x126c201d0>,
  <mouselab.MouselabEnv at 0x126c20438>,
  <mouselab.MouselabEnv at 0x126c206a0>,
  <mouselab.MouselabEnv at 0x126c20908>,
  <mouselab.MouselabEnv at 0x126c20b70>,
  <mouselab.MouselabEnv at 0x126c20dd8>],
 '4.0': [<mouselab.MouselabEnv at 0x126c250b8>,
  <mouselab.MouselabEnv at 0x126c25320>,
  <mouselab.MouselabEnv at 0x126c25588>,
  <mouselab.MouselabEnv at 0x126c257f0>,
  <mouselab.MouselabEnv at 0x126c25a58>,
  <mouselab.MouselabEnv at 0x126c25cc0>,
  <mouselab.MouselabEnv at 0x126c25f28>,
  <mouselab.MouselabEnv at 0x126c2c1d0>,
  <mouselab.MouselabEnv at 0x126c2c438>,
  <mouselab.MouselabEnv at 0x126c2c6a0>,
  <mouselab.MouselabEnv at 0x126c2c908>,
  <mouselab.MouselabEnv at 0x126c2cb70>,
  <mouselab.MouselabEnv at 0x126c2cdd8>,
  <mouselab.MouselabEnv at 0x126c35080>,
  <mouselab.MouselabEnv at 0x126c352e8>,
  <mouselab.MouselabEnv at 0x126c35550>]}

In [134]:
for index, row in trials.iterrows():
    if index % 20 == 0: print(index)
    cost = row['info_cost']
    s_cost = str(cost)
    trial_id = row['trial_index']
    
#     stimuli_envs = make_envs([4,1,2], reward, cost, n=16, ground_truth=1)
#     menv = stimuli_envs[trial_id-1]
    menv = stimuli_envs[s_cost][trial_id-1]
       
    if s_cost == '1.0': s_cost = '1.00'
    elif s_cost == '4.0': s_cost = '4.00'
    q_weight = q_weights[s_cost]
    
    clicks = ast.literal_eval(row['clicks'])
    clicks.append(17)
    pr_sum = 0
    for a in clicks:
        f = menv.action_features(a)
        pr = np.inner(q_weight,f) - np.max([np.inner(q_weight,menv.action_features(a2)) for a2 in menv.actions(menv._state)])
        menv.step(a)
        pr_sum += pr
    trials.set_value(index,'pr_sum',pr_sum)
    menv.reset()

0
20
40
60
80
100
120
140
160
180
200
220
240
260
280
300
320
340
360
380
400
420
440
460
480
500
520
540
560
580
600
620
640
660
680
700
720
740
760
780
800
820
840
860
880
900
920
940
960
980
1000
1020
1040
1060
1080
1100
1120
1140
1160
1180
1200
1220
1240
1260
1280
1300
1320
1340
1360
1380
1400
1420
1440
1460
1480
1500
1520

In [135]:
csv_ready = trials[['pid','info_cost','trial_index','pr_sum']]

In [136]:
csv_ready

      pid  info_cost  trial_index     pr_sum
0       0       1.00            1 -18.339020
1       0       1.00            2  -9.742874
2       0       1.00            3  -5.019801
3       0       1.00            4  -5.653332
4       0       1.00            5  -6.346801
5       0       1.00            6 -11.961760
6       0       1.00            7 -11.961760
7       0       1.00            8 -11.961760
8       0       1.00            9 -11.961760
9       0       1.00           10  -9.395966
10      0       1.00           11 -14.308702
11      0       1.00           12 -11.143984
12      0       1.00           13 -11.961760
13      0       1.00           14 -11.961760
14      0       1.00           15  -8.812100
15      0       1.00           16 -11.671118
16      1       0.25            1 -19.336993
17      1       0.25            2 -11.527972
18      1       0.25            3  -8.459202
19      1       0.25            4 -11.667136
20      1       0.25            5 -11.527972
21      1       0.25            6 -11.690954
22      1       0.25            7 -14.080751
23      1       0.25            8 -11.527972
24      1       0.25            9 -12.996477
25      1       0.25           10 -13.819241
26      1       0.25           11 -15.251086
27      1       0.25           12 -10.979234
28      1       0.25           13 -19.336993
29      1       0.25           14 -17.249983
...   ...        ...          ...        ...
1506  104       4.00            3  -0.150277
1507  104       4.00            4  -0.150277
1508  104       4.00            5  -0.150277
1509  104       4.00            6  -0.150277
1510  104       4.00            7  -0.150277
1511  104       4.00            8  -0.150277
1512  104       4.00            9  -0.150277
1513  104       4.00           10  -0.150277
1514  104       4.00           11  -0.150277
1515  104       4.00           12  -0.150277
1516  104       4.00           13  -0.150277
1517  104       4.00           14  -0.150277
1518  104       4.00           15  -0.150277
1519  104       4.00           16  -0.150277
1520  105       1.00            1 -12.290397
1521  105       1.00            2  -9.742874
1522  105       1.00            3  -2.104324
1523  105       1.00            4 -10.959891
1524  105       1.00            5 -22.836806
1525  105       1.00            6 -15.403143
1526  105       1.00            7 -20.779149
1527  105       1.00            8  -5.086352
1528  105       1.00            9 -11.336236
1529  105       1.00           10 -12.904753
1530  105       1.00           11  -0.395334
1531  105       1.00           12 -11.143984
1532  105       1.00           13  -7.865387
1533  105       1.00           14  -4.432791
1534  105       1.00           15 -12.985805
1535  105       1.00           16  -9.958634

[1536 rows x 4 columns]

In [132]:
csv_ready.to_csv('pilot_prs.csv')