In [44]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json
from agents import Agent
from mouselab import MouselabEnv
from distributions import Normal, Categorical
from model_utils import read_bo_policy
from policies import FixedPlanPolicy, LiederPolicy, RandomTreePolicy
from evaluation import *
from pprint import pprint
import ast

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [38]:
trials = pd.read_csv('../experiments/data/human/0.991/trials.csv')

In [3]:
trials

,Unnamed: 0,pid,info_cost,PR_type,message,trial_index,trial_i,delays,score,n_click,clicks,click_times,path,action_times
0,0,0,1.00,none,none,1,NaN,[3],12.00,16,"[5, 6, 7, 8, 9, 10, 12, 11, 1, 2, 3, 4, 13, 14...","[2692, 3813, 4808, 7601, 13713, 15045, 15845, ...","[1, 5, 6, 7]","[71892, 77817, 81863]"
1,1,0,1.00,none,none,2,NaN,[3],26.00,2,"[5, 9]","[3801, 5825]","[1, 9, 10, 12]","[7534, 21008, 22827]"
2,2,0,1.00,none,none,3,NaN,[3],26.00,2,"[5, 6]","[2081, 3815]","[1, 5, 6, 8]","[5649, 14086, 16738]"
3,3,0,1.00,none,none,4,NaN,[3],-8.00,4,"[5, 13, 9, 1]","[1609, 2946, 4339, 5745]","[1, 5, 6, 7]","[8788, 15820, 17077]"
4,4,0,1.00,none,none,5,NaN,[3],19.00,1,[5],[3112],"[1, 5, 6, 7]","[5477, 9516, 14710]"
5,5,0,1.00,none,none,6,NaN,[3],4.00,0,[],[],"[1, 5, 6, 8]","[3077, 7200, 10754]"
6,6,0,1.00,none,none,7,NaN,[3],28.00,0,[],[],"[1, 9, 10, 12]","[2198, 6520, 8274]"
7,7,0,1.00,none,none,8,NaN,[3],-4.00,0,[],[],"[1, 1, 2, 4]","[3118, 6943, 8352]"
8,8,0,1.00,none,none,9,NaN,[3],4.00,0,[],[],"[1, 5, 6, 7]","[2954, 6727, 8846]"
9,9,0,1.00,none,none,10,NaN,[3],-8.00,4,"[5, 9, 13, 1]","[7675, 8558, 9695, 10726]","[1, 9, 10, 12]","[12048, 25717, 27326]"
10,10,0,1.00,none,none,11,NaN,[],11.00,9,"[9, 10, 12, 11, 13, 5, 6, 14, 2]","[4161, 5847, 6725, 7624, 9149, 10183, 11338, 1...","[1, 1, 2, 3]","[15977, 16992, 17881]"
11,11,0,1.00,none,none,12,NaN,[],11.00,1,[9],[2442],"[1, 9, 10, 12]","[3828, 8826, 10006]"
12,12,0,1.00,none,none,13,NaN,[],-44.00,0,[],[],"[1, 5, 6, 7]","[1411, 2960, 4159]"
13,13,0,1.00,none,none,14,NaN,[],4.00,0,[],[],"[1, 9, 10, 12]","[2085, 4279, 5691]"
14,14,0,1.00,none,none,15,NaN,[],35.00,1,[12],[2361],"[1, 9, 10, 12]","[5478, 10990, 12063]"
15,15,0,1.00,none,none,16,NaN,[],2.00,2,"[7, 8]","[2091, 4038]","[1, 5, 6, 8]","[5700, 12812, 13802]"
16,16,1,0.25,none,none,1,NaN,[None],-12.00,0,[],[],"[1, 1, 2, 3]","[5201, 9632, 15394]"
17,17,1,0.25,none,none,2,NaN,[None],27.75,1,[9],[2341],"[1, 9, 10, 12]","[4048, 25349, 28004]"
18,18,1,0.25,none,none,3,NaN,[None],19.75,1,[1],[5583],"[1, 1, 2, 4]","[7592, 9750, 11712]"
19,19,1,0.25,none,none,4,NaN,[None],-5.00,4,"[5, 14, 10, 2]","[2547, 6400, 8835, 11486]","[1, 13, 14, 16]","[14408, 16307, 18605]"
20,20,1,0.25,none,none,5,NaN,[None],27.75,1,[5],[2270],"[1, 5, 6, 8]","[3511, 4924, 6106]"
21,21,1,0.25,none,none,6,NaN,[None],-20.50,2,"[9, 1]","[1793, 3594]","[1, 13, 14, 15]","[5812, 7466, 9151]"
22,22,1,0.25,none,none,7,NaN,[None],27.50,2,"[9, 1]","[1834, 4756]","[1, 9, 10, 12]","[6296, 7439, 8755]"
23,23,1,0.25,none,none,8,NaN,[None],27.75,1,[6],[3520],"[1, 5, 6, 7]","[4689, 6669, 7930]"
24,24,1,0.25,none,none,9,NaN,[None],-21.00,4,"[14, 6, 2, 10]","[842, 2724, 4003, 6189]","[1, 13, 14, 16]","[7633, 9181, 10044]"
25,25,1,0.25,none,none,10,NaN,[None],19.50,2,"[14, 1]","[2088, 3656]","[1, 1, 2, 3]","[4601, 6144, 7528]"
26,26,1,0.25,none,none,11,NaN,[],11.50,2,"[6, 14]","[3204, 5254]","[1, 13, 14, 15]","[6396, 8089, 9101]"
27,27,1,0.25,none,none,12,NaN,[],35.50,2,"[14, 2]","[3313, 4943]","[1, 9, 10, 12]","[6524, 9133, 10475]"
28,28,1,0.25,none,none,13,NaN,[],28.00,0,[],[],"[1, 13, 14, 16]","[2489, 3921, 5433]"
29,29,1,0.25,none,none,14,NaN,[],11.75,1,[6],[2066],"[1, 13, 14, 15]","[4507, 6343, 7705]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506,1547,104,4.00,none,none,3,NaN,[None],-4.00,0,[],[],"[1, 13, 14, 16]","[792, 4743, 6358]"
1507,1548,104,4.00,none,none,4,NaN,[None],-4.00,0,[],[],"[1, 5, 6, 7]","[691, 3545, 5363]"
1508,1549,104,4.00,none,none,5,NaN,[None],-36.00,0,[],[],"[1, 1, 2, 3]","[480, 2130, 3402]"
1509,1550,104,4.00,none,none,6,NaN,[None],-4.00,0,[],[],"[1, 13, 14, 15]","[1932, 2987, 3846]"
1510,1551,104,4.00,none,none,7,NaN,[None],28.00,0,[],[],"[1, 9, 10, 12]","[393, 2152, 3440]"
1511,1552,104,4.00,none,none,8,NaN,[None],-28.00,0,[],[],"[1, 5, 6, 7]","[1435, 2428, 3667]"
1512,1553,104,4.00,none,none,9,NaN,[None],12.00,0,[],[],"[1, 9, 10, 12]","[2195, 3451, 4593]"
1513,1554,104,4.00,none,none,10,NaN,[None],28.00,0,[],[],"[1, 13, 14, 16]","[405, 1307, 2738]"
1514,1555,104,4.00,none,none,11,NaN,[],-12.00,0,[],[],"[1, 1, 2, 3]","[3470, 4550, 5640]"
1515,1556,104,4.00,none,none,12,NaN,[],-28.00,0,[],[],"[1, 5, 6, 8]","[1206, 2203, 3175]"
1516,1557,104,4.00,none,none,13,NaN,[],-12.00,0,[],[],"[1, 1, 2, 4]","[397, 1365, 2791]"
1517,1558,104,4.00,none,none,14,NaN,[],-20.00,0,[],[],"[1, 13, 14, 15]","[2471, 3488, 4448]"
1518,1559,104,4.00,none,none,15,NaN,[],-4.00,0,[],[],"[1, 13, 14, 16]","[820, 2752, 4020]"
1519,1560,104,4.00,none,none,16,NaN,[],-4.00,0,[],[],"[1, 9, 10, 11]","[485, 1573, 2632]"
1520,1561,105,1.00,none,none,1,NaN,[3],-20.00,16,"[9, 10, 5, 1, 13, 2, 6, 7, 8, 15, 14, 16, 4, 3...","[3549, 5619, 7887, 9060, 9904, 12679, 15395, 1...","[1, 9, 10, 12]","[25433, 30212, 31709]"
1521,1562,105,1.00,none,none,2,NaN,[3],18.00,2,"[9, 5]","[2810, 4446]","[1, 5, 6, 7]","[6885, 24132, 27015]"
1522,1563,105,1.00,none,none,3,NaN,[3],-7.00,3,"[5, 6, 7]","[3952, 6322, 7197]","[1, 5, 6, 7]","[9593, 13646, 15035]"
1523,1564,105,1.00,none,none,4,NaN,[3],37.00,7,"[9, 1, 5, 13, 2, 3, 4]","[980, 2114, 3200, 4045, 4944, 5694, 6522]","[1, 1, 2, 4]","[8231, 12366, 15485]"
1524,1565,105,1.00,none,none,5,NaN,[3],19.00,9,"[9, 10, 12, 5, 1, 13, 2, 3, 4]","[817, 2309, 3051, 5897, 7072, 8392, 9425, 1005...","[1, 9, 10, 12]","[11745, 15968, 20317]"
1525,1566,105,1.00,none,none,6,NaN,[3],26.00,10,"[9, 10, 12, 11, 13, 1, 5, 6, 7, 8]","[1604, 4112, 4910, 5958, 7381, 8146, 8818, 947...","[1, 5, 6, 8]","[12733, 16748, 18344]"
1526,1567,105,1.00,none,none,7,NaN,[3],18.00,10,"[5, 9, 13, 1, 6, 7, 14, 16, 15, 8]","[1131, 2358, 3197, 3887, 5020, 5912, 7385, 804...","[1, 5, 6, 7]","[12861, 16860, 18952]"
1527,1568,105,1.00,none,none,8,NaN,[3],18.00,10,"[9, 5, 1, 13, 2, 3, 4, 14, 16, 15]","[702, 1327, 1967, 2530, 3545, 4139, 4916, 5757...","[1, 13, 14, 16]","[8942, 12876, 14366]"
1528,1569,105,1.00,none,none,9,NaN,[3],-9.00,5,"[9, 13, 1, 5, 10]","[894, 1613, 2175, 2683, 4137]","[1, 9, 10, 11]","[6679, 10725, 12160]"
1529,1570,105,1.00,none,none,10,NaN,[3],15.00,5,"[9, 5, 10, 12, 11]","[762, 1395, 2989, 3559, 4309]","[1, 9, 10, 11]","[6910, 10837, 12000]"
1530,1571,105,1.00,none,none,11,NaN,[],32.00,4,"[5, 9, 10, 12]","[5596, 6190, 7370, 7956]","[1, 9, 10, 12]","[9675, 11062, 12144]"
1531,1572,105,1.00,none,none,12,NaN,[],35.00,1,[9],[727],"[1, 9, 10, 11]","[3258, 5308, 6911]"
1532,1573,105,1.00,none,none,13,NaN,[],17.00,3,"[9, 1, 5]","[742, 1506, 2492]","[1, 1, 2, 3]","[3893, 5225, 6995]"
1533,1574,105,1.00,none,none,14,NaN,[],0.00,4,"[9, 5, 1, 13]","[1011, 1903, 2615, 3115]","[1, 5, 6, 8]","[4548, 5600, 7084]"
1534,1575,105,1.00,none,none,15,NaN,[],-8.00,4,"[9, 5, 1, 13]","[796, 1368, 1984, 2476]","[1, 9, 10, 12]","[5076, 6092, 7119]"
1535,1576,105,1.00,none,none,16,NaN,[],0.00,4,"[9, 1, 5, 13]","[3032, 3678, 4436, 4990]","[1, 13, 14, 16]","[6144, 7108, 8009]"

In [32]:
def make_env(depth, reward, cost, ground_truth=False):
    """Returns a MouselabEnv with given depth and cost. 
    If `ground_truth` is True, the reward observed at a given node will be
    constant across runs on this env. This reduces variance of the return."""
    env = MouselabEnv(depth, reward=reward, cost=cost)
    if ground_truth:
        env.ground_truth = np.array([0, *reward.sample(len(env.tree) - 1)])
    return env

def make_envs(depth, reward, cost, n=100, ground_truth=None):
    # Note, ground_truth can be an int in which case it acts as a random seed.
    if ground_truth is not None:
        np.random.seed(ground_truth)
        return [make_env(depth, reward, cost, True) for _ in range(n)]
    else:
        return [make_env(depth, reward, cost, False)] * n

In [4]:
with open('../experiments/exp1/static/json/q_weights.json') as data_file:    
    q_weights = json.load(data_file)
pprint(q_weights)

{'0.25': [2.3252393134113225,
          0.09975155227317743,
          0.08032182729437333,
          0.8450937421220647,
          0.997435322775085],
 '1.00': [1.9484115264310722,
          0.4288647055137153,
          0.269370854918958,
          0.44258532182537325,
          0.9912367388407017],
 '4.00': [1.02455453397985,
          0.9723698649146737,
          0.0048616156760657794,
          0.01790135732732076,
          1.000241178138463]}

In [14]:
trials['pr_sum'] = np.zeros(trials.shape[0])
trials['click_prs'] = [[]]*trials.shape[0]

In [42]:
dist = Normal(0,10)
reward = dist.to_discrete(6)
costs = [0.25,1.00,4.00]
stimuli_envs ={str(cost):make_envs([4,1,2], reward, cost, n=16, ground_truth=1) for cost in costs}
stimuli_envs

{'0.25': [<mouselab.MouselabEnv at 0x2b93219cc7f0>,
  <mouselab.MouselabEnv at 0x2b93219cccf8>,
  <mouselab.MouselabEnv at 0x2b93219ccf98>,
  <mouselab.MouselabEnv at 0x2b93219d02e8>,
  <mouselab.MouselabEnv at 0x2b93219d0630>,
  <mouselab.MouselabEnv at 0x2b93219d0978>,
  <mouselab.MouselabEnv at 0x2b93219d0cc0>,
  <mouselab.MouselabEnv at 0x2b93219d4048>,
  <mouselab.MouselabEnv at 0x2b93219d4390>,
  <mouselab.MouselabEnv at 0x2b93219d46d8>,
  <mouselab.MouselabEnv at 0x2b93219d4a20>,
  <mouselab.MouselabEnv at 0x2b93219d4be0>,
  <mouselab.MouselabEnv at 0x2b93219d4e80>,
  <mouselab.MouselabEnv at 0x2b93219d9208>,
  <mouselab.MouselabEnv at 0x2b93219d9550>,
  <mouselab.MouselabEnv at 0x2b93219d9898>],
 '1.0': [<mouselab.MouselabEnv at 0x2b93219d9c18>,
  <mouselab.MouselabEnv at 0x2b93219d9f60>,
  <mouselab.MouselabEnv at 0x2b93219da2e8>,
  <mouselab.MouselabEnv at 0x2b93219da630>,
  <mouselab.MouselabEnv at 0x2b93219da978>,
  <mouselab.MouselabEnv at 0x2b93219dacc0>,
  <mouselab.MouselabEnv at 0x2b93219df048>,
  <mouselab.MouselabEnv at 0x2b93219df390>,
  <mouselab.MouselabEnv at 0x2b93219df6d8>,
  <mouselab.MouselabEnv at 0x2b93219dfa20>,
  <mouselab.MouselabEnv at 0x2b93219dfd68>,
  <mouselab.MouselabEnv at 0x2b93219e30f0>,
  <mouselab.MouselabEnv at 0x2b93219e3438>,
  <mouselab.MouselabEnv at 0x2b93219e3780>,
  <mouselab.MouselabEnv at 0x2b93219e3ac8>,
  <mouselab.MouselabEnv at 0x2b93219e3e10>],
 '4.0': [<mouselab.MouselabEnv at 0x2b93219e71d0>,
  <mouselab.MouselabEnv at 0x2b93219e7518>,
  <mouselab.MouselabEnv at 0x2b93219e7860>,
  <mouselab.MouselabEnv at 0x2b93219e7ba8>,
  <mouselab.MouselabEnv at 0x2b93219e7ef0>,
  <mouselab.MouselabEnv at 0x2b93219eb278>,
  <mouselab.MouselabEnv at 0x2b93219eb5c0>,
  <mouselab.MouselabEnv at 0x2b93219eb908>,
  <mouselab.MouselabEnv at 0x2b93219ebc50>,
  <mouselab.MouselabEnv at 0x2b93219ebf98>,
  <mouselab.MouselabEnv at 0x2b93219ef320>,
  <mouselab.MouselabEnv at 0x2b93219ef668>,
  <mouselab.MouselabEnv at 0x2b93219ef9b0>,
  <mouselab.MouselabEnv at 0x2b93219efcf8>,
  <mouselab.MouselabEnv at 0x2b93219f2080>,
  <mouselab.MouselabEnv at 0x2b93219f23c8>]}

In [76]:
optimal_reward = np.zeros((16,3))
worst_reward = np.zeros((16,3))

lc_pol_reward = np.zeros((16,3))
clicks = np.zeros((16,3))

samples2 = np.zeros((5000,16,3))

for cost_id in range(3):
    
    policy = read_bo_policy(costs[cost_id])
    envs =  stimuli_envs[str(costs[cost_id])]
    for env in envs:
        env.sample_term_reward = True
    ev = evaluate(policy, envs)
    
    lc_pol_reward[:,cost_id] = ev['util']
    clicks[:,cost_id] = ev['observations']
    
    for i in range(5000):
        random_policy = RandomTreePolicy()
        samples2[i,:,cost_id] = evaluate(random_policy, envs)['util']
        
    for env_id in range(16):
        env = envs[env_id]
        optimal_reward[env_id,cost_id] = env.true_Q(0)
        worst_reward[env_id,cost_id] = env.worst_Q(0)

In [84]:
all_samples = np.concatenate((samples,samples2))
print(np.shape(all_samples))
base = np.mean(all_samples,0)
base

(10000, 16, 3)

array([[ -5.652, -12.   , -35.96 ],
       [ 21.184,  14.7  ,  -9.267],
       [ 26.378,  20.207,  -3.902],
       [-14.105, -19.911, -43.824],
       [ 16.68 ,  10.912, -13.416],
       [ 21.841,  15.982,  -7.966],
       [ 14.802,   9.031, -14.937],
       [ 18.707,  12.727, -11.105],
       [  6.944,   0.849, -23.149],
       [ -1.634,  -7.917, -31.574],
       [ 13.815,   7.597, -16.462],
       [  3.217,  -2.97 , -26.935],
       [ 24.145,  17.952,  -6.109],
       [ 30.644,  24.647,   0.562],
       [ 18.166,  12.041, -11.97 ],
       [ 23.149,  17.208,  -6.922]])

In [85]:
1.96*np.std(all_samples,0)/np.sqrt(10000)

array([[ 0.201,  0.176,  0.299],
       [ 0.335,  0.301,  0.305],
       [ 0.185,  0.177,  0.341],
       [ 0.21 ,  0.186,  0.32 ],
       [ 0.284,  0.248,  0.308],
       [ 0.139,  0.13 ,  0.336],
       [ 0.215,  0.179,  0.289],
       [ 0.141,  0.118,  0.311],
       [ 0.229,  0.197,  0.294],
       [ 0.296,  0.265,  0.297],
       [ 0.281,  0.248,  0.294],
       [ 0.166,  0.138,  0.301],
       [ 0.228,  0.212,  0.344],
       [ 0.288,  0.254,  0.321],
       [ 0.163,  0.142,  0.316],
       [ 0.251,  0.223,  0.305]])

In [70]:
optimal_reward

array([[  4.,   4.,   4.],
       [ 36.,  36.,  36.],
       [ 36.,  36.,  36.],
       [ -4.,  -4.,  -4.],
       [ 28.,  28.,  28.],
       [ 28.,  28.,  28.],
       [ 28.,  28.,  28.],
       [ 28.,  28.,  28.],
       [ 20.,  20.,  20.],
       [ 12.,  12.,  12.],
       [ 28.,  28.,  28.],
       [ 12.,  12.,  12.],
       [ 36.,  36.,  36.],
       [ 44.,  44.,  44.],
       [ 28.,  28.,  28.],
       [ 36.,  36.,  36.]])

In [71]:
worst_reward

array([[-36., -36., -36.],
       [-12., -12., -12.],
       [-20., -20., -20.],
       [-36., -36., -36.],
       [-12., -12., -12.],
       [ -4.,  -4.,  -4.],
       [ -4.,  -4.,  -4.],
       [-60., -60., -60.],
       [-20., -20., -20.],
       [-36., -36., -36.],
       [-44., -44., -44.],
       [-20., -20., -20.],
       [-20., -20., -20.],
       [-36., -36., -36.],
       [-20., -20., -20.],
       [-12., -12., -12.]])

In [79]:
base

array([[ -5.71 , -11.937, -35.917],
       [ 21.365,  14.404,  -9.199],
       [ 26.579,  20.079,  -3.878],
       [-14.263, -19.85 , -44.134],
       [ 16.892,  10.976, -13.28 ],
       [ 21.901,  16.154,  -8.416],
       [ 14.872,   8.983, -15.094],
       [ 18.858,  12.795, -11.006],
       [  6.905,   0.74 , -23.062],
       [ -1.336,  -7.841, -31.65 ],
       [ 13.518,   7.514, -16.524],
       [  3.272,  -2.961, -27.062],
       [ 24.119,  18.153,  -6.094],
       [ 30.834,  24.54 ,   0.865],
       [ 18.24 ,  12.073, -11.651],
       [ 23.392,  17.229,  -6.907]])

In [72]:
lc_pol_reward

array([[  0.5 ,  -8.  , -12.  ],
       [ 34.75,  28.  ,  24.  ],
       [ 33.75,  27.  ,  20.  ],
       [ -8.  , -12.  , -20.  ],
       [ 26.  ,  22.  ,  16.  ],
       [ 25.5 ,  11.  ,  12.  ],
       [ 24.75,  19.  ,  12.  ],
       [ 24.75,  15.  ,  12.  ],
       [ 17.75,  11.  , -16.  ],
       [  9.5 ,   1.  ,  -8.  ],
       [ 26.  ,  20.  ,  12.  ],
       [  8.5 ,  -1.  , -12.  ],
       [ 34.25,  31.  ,  12.  ],
       [ 43.  ,  41.  ,  36.  ],
       [ 26.  ,  18.  ,  16.  ],
       [ 33.  ,  26.  ,  -8.  ]])

In [80]:
rel = (lc_pol_reward-base)
rel

array([[  6.21 ,   3.937,  23.917],
       [ 13.385,  13.596,  33.199],
       [  7.171,   6.921,  23.878],
       [  6.263,   7.85 ,  24.134],
       [  9.108,  11.024,  29.28 ],
       [  3.599,  -5.154,  20.416],
       [  9.878,  10.017,  27.094],
       [  5.892,   2.205,  23.006],
       [ 10.845,  10.26 ,   7.062],
       [ 10.836,   8.841,  23.65 ],
       [ 12.482,  12.486,  28.524],
       [  5.228,   1.961,  15.062],
       [ 10.131,  12.847,  18.094],
       [ 12.166,  16.46 ,  35.135],
       [  7.76 ,   5.927,  27.651],
       [  9.608,   8.771,  -1.093]])

In [74]:
clicks

array([[ 14.,  12.,   4.],
       [  5.,   8.,   3.],
       [  9.,   9.,   2.],
       [ 16.,   8.,   4.],
       [  8.,   6.,   3.],
       [ 10.,   9.,   2.],
       [ 13.,   9.,   2.],
       [ 13.,  13.,   2.],
       [  9.,   9.,   3.],
       [ 10.,  11.,   3.],
       [  8.,   8.,   4.],
       [ 14.,  13.,   2.],
       [  7.,   5.,   2.],
       [  4.,   3.,   2.],
       [  8.,  10.,   3.],
       [ 12.,  10.,   3.]])

In [75]:
np.mean(clicks[:,2])

2.75

In [78]:
np.savetxt('../experiments/data/stimuli/exp1/optimal1A.2.csv', lc_pol_reward, delimiter=",")
np.savetxt('../experiments/data/stimuli/exp1/worst1A.2.csv', base, delimiter=",")
np.savetxt('../experiments/data/stimuli/exp1/rel_score_pi_star1A.2.csv', rel, delimiter=",")
np.savetxt('../experiments/data/stimuli/exp1/nr_observations_pi_star1A.2.csv', clicks, delimiter=",")

In [13]:
for index, row in trials.iterrows():
    if index % 20 == 0: print(index)
    cost = row['info_cost']
    s_cost = str(cost)
    trial_id = row['trial_index']
    
#     stimuli_envs = make_envs([4,1,2], reward, cost, n=16, ground_truth=1)
#     menv = stimuli_envs[trial_id-1]
    menv = stimuli_envs[s_cost][trial_id-1]
       
    if s_cost == '1.0': s_cost = '1.00'
    elif s_cost == '4.0': s_cost = '4.00'
    q_weight = q_weights[s_cost]
    
    clicks = ast.literal_eval(row['clicks'])
    clicks.append(17)
    pr_sum = 0
    click_prs = []
    for a in clicks:
        f = menv.action_features(a)
        pr = np.inner(q_weight,f) - np.max([np.inner(q_weight,menv.action_features(a2)) for a2 in menv.actions(menv._state)])
        menv.step(a)
        pr_sum += pr
        click_prs.append(pr)
    trials.set_value(index,'pr_sum',pr_sum)
    trials.set_value(index,'click_prs',click_prs)
    menv.reset()

NameError: name 'trials' is not defined

In [48]:
csv_ready = trials[['pid','info_cost','trial_index','pr_sum','click_prs']]

In [49]:
csv_ready

,pid,info_cost,trial_index,pr_sum,click_prs
0,0,1.00,1,-21.801828,"[0.0, -3.48967110132, -4.38808088052, -4.38808..."
1,0,1.00,2,-10.724908,"[0.0, -1.78773376916, -8.9371740738]"
2,0,1.00,3,-5.819986,"[0.0, -0.394992325395, -5.42499349295]"
3,0,1.00,4,-6.452739,"[0.0, 0.0, 0.0, -0.432655729455, -6.02008290493]"
4,0,1.00,5,-6.910454,"[0.0, -6.91045391442]"
5,0,1.00,6,-12.222219,[-12.2222185374]
6,0,1.00,7,-12.222219,[-12.2222185374]
7,0,1.00,8,-12.222219,[-12.2222185374]
8,0,1.00,9,-12.222219,[-12.2222185374]
9,0,1.00,10,-10.693319,"[0.0, -0.432655729455, -1.1453229211, -1.14532..."
10,0,1.00,11,-8.530718,"[0.0, -0.394992325395, 0.0, -1.25301416697, -1..."
11,0,1.00,12,-11.531289,"[0.0, -11.5312894479]"
12,0,1.00,13,-12.222219,[-12.2222185374]
13,0,1.00,14,-12.222219,[-12.2222185374]
14,0,1.00,15,-9.196463,"[-0.380648314282, -8.81581484015]"
15,0,1.00,16,-12.423147,"[-0.380648314282, -0.740810834193, -11.3016880..."
16,1,0.25,1,-19.290150,[-19.2901500703]
17,1,0.25,2,-11.445353,"[0.0, -11.4453530028]"
18,1,0.25,3,-8.413949,"[0.0, -8.41394863]"
19,1,0.25,4,-11.552673,"[0.0, 0.0, 0.0, -0.0943866513133, -11.4582867116]"
20,1,0.25,5,-11.445353,"[0.0, -11.4453530028]"
21,1,0.25,6,-11.568436,"[0.0, -0.072753331083, -11.495682726]"
22,1,0.25,7,-14.079975,"[0.0, -0.429141020575, -13.6508335009]"
23,1,0.25,8,-11.445353,"[0.0, -11.4453530028]"
24,1,0.25,9,-12.958081,"[0.0, 0.0, 0.0, -0.0943866513133, -12.8636944336]"
25,1,0.25,10,-13.685294,"[0.0, -0.072753331083, -13.6125410173]"
26,1,0.25,11,-15.264744,"[0.0, 0.0, -15.2647436981]"
27,1,0.25,12,-10.914707,"[0.0, -0.429141020575, -10.4855662068]"
28,1,0.25,13,-19.290150,[-19.2901500703]
29,1,0.25,14,-17.234043,"[0.0, -17.2340428613]"
...,...,...,...,...,...
1506,104,4.00,3,-0.363699,[-0.363698953547]
1507,104,4.00,4,-0.363699,[-0.363698953547]
1508,104,4.00,5,-0.363699,[-0.363698953547]
1509,104,4.00,6,-0.363699,[-0.363698953547]
1510,104,4.00,7,-0.363699,[-0.363698953547]
1511,104,4.00,8,-0.363699,[-0.363698953547]
1512,104,4.00,9,-0.363699,[-0.363698953547]
1513,104,4.00,10,-0.363699,[-0.363698953547]
1514,104,4.00,11,-0.363699,[-0.363698953547]
1515,104,4.00,12,-0.363699,[-0.363698953547]
1516,104,4.00,13,-0.363699,[-0.363698953547]
1517,104,4.00,14,-0.363699,[-0.363698953547]
1518,104,4.00,15,-0.363699,[-0.363698953547]
1519,104,4.00,16,-0.363699,[-0.363698953547]
1520,105,1.00,1,-14.433363,"[0.0, -1.83978327316, 0.0, 0.0, 0.0, -0.337675..."
1521,105,1.00,2,-10.724908,"[0.0, -1.78773376916, -8.9371740738]"
1522,105,1.00,3,-2.714158,"[0.0, -0.394992325395, 0.0, -2.31916603558]"
1523,105,1.00,4,-13.400003,"[0.0, -0.432655729455, -0.432655729455, -0.432..."
1524,105,1.00,5,-28.300925,"[0.0, -3.48967110132, -1.50210746276, 0.0, -1...."
1525,105,1.00,6,-8.919758,"[0.0, -0.394992325395, 0.0, -1.25301416697, -1..."
1526,105,1.00,7,-25.485823,"[0.0, 0.0, -1.78773376916, -1.9188827014, -3.5..."
1527,105,1.00,8,-4.712430,"[0.0, 0.0, -0.432655729455, -1.9188827014, 0.0..."
1528,105,1.00,9,-12.990829,"[0.0, -1.78773376916, -1.9188827014, -1.918882..."
1529,105,1.00,10,-14.668846,"[0.0, -0.432655729455, 0.0, -2.97626249053, -2..."
1530,105,1.00,11,-0.394992,"[0.0, 0.0, -0.394992325395, 0.0, 0.0]"
1531,105,1.00,12,-11.531289,"[0.0, -11.5312894479]"
1532,105,1.00,13,-9.749815,"[0.0, -2.46281265184, -2.49233531595, -4.79466..."
1533,105,1.00,14,-5.796933,"[0.0, 0.0, 0.0, -1.78773376916, -4.00919928534]"
1534,105,1.00,15,-15.355129,"[0.0, -1.78773376916, -2.820733626, -2.8207336..."
1535,105,1.00,16,-10.884975,"[0.0, -0.432655729455, -0.432655729455, -1.145..."

In [39]:
res = trials.set_index(['pid','info_cost','trial_index'])['click_prs'].apply(pd.Series).stack()
res = res.reset_index()
res.columns = ['pid','info_cost','trial_index','click_num','click_pr']
res

      pid  info_cost  trial_index  click_num   click_pr
0       0        1.0            1          0   0.000000
1       0        1.0            1          1  -3.489671
2       0        1.0            1          2  -4.388081
3       0        1.0            1          3  -4.388081
4       0        1.0            1          4   0.000000
5       0        1.0            1          5  -1.839783
6       0        1.0            1          6  -1.502107
7       0        1.0            1          7  -1.360207
8       0        1.0            1          8   0.000000
9       0        1.0            1          9  -1.253846
10      0        1.0            1         10  -1.360207
11      0        1.0            1         11  -1.360207
12      0        1.0            1         12   0.000000
13      0        1.0            1         13  -0.859637
14      0        1.0            1         14   0.000000
15      0        1.0            1         15   0.000000
16      0        1.0            1         16   0.000000
17      0        1.0            2          0   0.000000
18      0        1.0            2          1  -1.787734
19      0        1.0            2          2  -8.937174
20      0        1.0            3          0   0.000000
21      0        1.0            3          1  -0.394992
22      0        1.0            3          2  -5.424993
23      0        1.0            4          0   0.000000
24      0        1.0            4          1   0.000000
25      0        1.0            4          2   0.000000
26      0        1.0            4          3  -0.432656
27      0        1.0            4          4  -6.020083
28      0        1.0            5          0   0.000000
29      0        1.0            5          1  -6.910454
...   ...        ...          ...        ...        ...
8576  105        1.0           10          2   0.000000
8577  105        1.0           10          3  -2.976262
8578  105        1.0           10          4  -2.976262
8579  105        1.0           10          5  -8.283665
8580  105        1.0           11          0   0.000000
8581  105        1.0           11          1   0.000000
8582  105        1.0           11          2  -0.394992
8583  105        1.0           11          3   0.000000
8584  105        1.0           11          4   0.000000
8585  105        1.0           12          0   0.000000
8586  105        1.0           12          1 -11.531289
8587  105        1.0           13          0   0.000000
8588  105        1.0           13          1  -2.462813
8589  105        1.0           13          2  -2.492335
8590  105        1.0           13          3  -4.794667
8591  105        1.0           14          0   0.000000
8592  105        1.0           14          1   0.000000
8593  105        1.0           14          2   0.000000
8594  105        1.0           14          3  -1.787734
8595  105        1.0           14          4  -4.009199
8596  105        1.0           15          0   0.000000
8597  105        1.0           15          1  -1.787734
8598  105        1.0           15          2  -2.820734
8599  105        1.0           15          3  -2.820734
8600  105        1.0           15          4  -7.925928
8601  105        1.0           16          0   0.000000
8602  105        1.0           16          1  -0.432656
8603  105        1.0           16          2  -0.432656
8604  105        1.0           16          3  -1.145323
8605  105        1.0           16          4  -8.874340

[8606 rows x 5 columns]

In [50]:
csv_ready.to_csv('../experiments/data/human/0.991/pilot_prs.csv')
res.to_csv('../experiments/data/human/0.991/pilot_click_prs.csv')